---
# Only the main Sass file needs front matter (the dashes are enough) search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

/* Reducir la altura de la imagen de cabecera en los proyectos */
.page__hero {
  max-height: 300px; /* Puedes cambiar este valor a 250px o 200px si lo quieres aún más pequeño */
  overflow: hidden;

  img {
    max-height: 300px;
    object-fit: cover; /* Asegura que la imagen no se deforme al recortarse */
    width: 100%;
  }
}

/* Justificar el texto de los párrafos en todo el sitio web y la página de inicio */
.page__content p, 
.archive__item p, 
.page__excerpt p, 
.entry p,
.splash__content p,
.initial-content p {
  text-align: justify;
}

/* Aumentar tamaño de la foto de perfil en la barra lateral */
.sidebar .author__avatar img {
  width: 160px !important;
  height: 160px !important;
  max-width: 160px !important;
  max-height: 160px !important;
  object-fit: cover;
  border-radius: 50%;
}